* {
  margin: 0;
  padding: 0;
  text-align: justify;
  box-sizing: border-box;
  appearance: none;

  &:focus {
    outline: none;
  }
}

.root {
  background: #825345;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  .wrapper {
    height: 70vh;
    width: 70vw;
    border-radius: 10px;
    background: #d3c2bd;
  }
}
