.root {
  background: transparent;
  margin-bottom: 20px;

  .toolbar {
    background-color: #b69a92;
    border-radius: 10px 10px 0 0;
    padding: 10px;

    .title {
      font-size: 2rem;
    }
  }
}
