.form {
  width: 30vw;
  margin: auto;
  &__wrap {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  &__field {
    width: 100%;
  }

  &__button {
    display: flex;
    flex-flow: column;

    button {
      width: 100%;
      text-align: center;
      padding: 10px;
      color: #fff;
      font-size: 1.1rem;
      border-radius: 5px;
      margin-top: 20px;
      cursor: pointer;

      &:nth-child(1) {
        background: #ff8b77;
      }

      &:nth-child(2) {
        background: #b69a92;
      }

      &:hover {
        opacity: 0.7;
        transition: 0.3s;
      }
    }
  }
}
