.taskitem {
  width: 50vw;
  margin: auto;
  padding: 10px;
  background: #ede7e5;
  border-radius: 10px;
  display: flex;
  margin: 20px auto;

  justify-content: space-between;

  &__left {
    display: flex;
    align-items: center;

    svg {
      margin-right: 5px;
    }
  }

  &__right {
    display: flex;
    align-items: center;

    button {
      border: none;
      cursor: pointer;
    }
  }
}
.MuiAppBar-colorPrimary {
  background: transparent;
}
